
@use "@material";
body {
  font-family: roboto;
  color: white;
  background: rgb(0,0,0);
  background: linear-gradient(13deg, rgba(0,0,0,1) 16%, rgba(60,60,60,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #007f8b;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
    border-radius: 10px;

}

#enableMidi, #webcamButton {
  width: 100%;
}

#cameraSelect, #midiOutputDevices{
  width: 100%;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

header,
footer {
  clear: both;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.note {
  font-style: italic;
  font-size: 130%;
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.videoView p,
.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
    border-radius: 10px;
/*    border: 3px solid black;*/
}


.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%;
}

/* Style for the container */
.container {
  display: flex; /* Enable Flexbox */
  height: 100vh; /* Full height of the viewport */
}

/* Style for the first column (col1) */
.col1 {
  width: 100px;
  margin: 10px;
  flex-grow: 1; /* Grow to fill available space */
  /* Optional: background, padding, etc. */
}

/* Style for the second column (col2) */
.col2 {
  width: 400px; /* Fixed width of 300px */
  overflow-y:auto;
  height: 100%;

  /* Optional: background, padding, etc. */
}



.columnSmall {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.rowSmall:after {
  content: "";
  display: table;
  clear: both;
}

.LargeSection{
/*  background: green;*/
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background: rgb(75,75,75);
  background: linear-gradient(315deg, rgba(75,75,75,1) 16%, rgba(98,98,98,1) 100%);
}

.markerArea {
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background: rgb(75,75,75);
  background: linear-gradient(315deg, rgba(75,75,75,1) 16%, rgba(98,98,98,1) 100%);
}

.whitelink{
  color: white;
}

.whitelink a:link {
  color: white;
}

.whitelink a:visited {
  color: white;
}

.whitelink a:hover {
  color: white;
}

.whitelink a:active {
  color: white;
}

input[type="text"] {
    width: 30px;
}

.prelab {
  width: 50px;
  display: inline-block; /* or block */

}
.labelArea{
  width: 45px;
  display: inline-block; /* or block */
}

.showHide{
    font-style: italic;
    color: #cccccc;
    display: none;
}


.containerer {
  width: 100%; /* or any specific width you desire */
  text-align: justify;
}

.containerer::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.left-span {
  float: left;
}

.right-span {
  float: right;
}

.error{
  background: #FFFFE0;
  color:black;
  padding:5px;
  margin: 5px;
  border-radius: 5px;
  display: none;
}

.duplicate{
  background: #FFFF00;
  color:black;
  padding:5px;
  margin: 5px;
  border-radius: 5px;
}

.deleteButton{
  margin-left: 10px;
  font-size: small;
  display: none;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: none;
}

.deleteButton:hover {
  background-color: #222222;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {    border-radius: 10px;

  background: rgb(75,75,75);
  background: linear-gradient(315deg, rgba(75,75,75,1) 16%, rgba(98,98,98,1) 100%);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sendButton{
  background: #444;
  color:white;
  border: none;
  padding: 5px;
  margin:2px;
  border-radius: 5px;
}

.sendButtonNormal:hover{
  background: #222222 !important;
}
