body {
	margin-top: 10em;
	background-color: white;
}

.titlePageLink:{
	text-decoration: none;
}


.titlePageLink:link {
  color: grey;
	text-decoration: none;
}

/* visited link */
.titlePageLink:visited {
  color: grey;
	text-decoration: none;
}

/* mouse over link */
.titlePageLink:hover {
  color: pink;
	text-decoration: none;
}

/* selected link */
.titlePageLink:active {
  color: grey;
	text-decoration: none;
}

.titlePageLinks{
	margin-top: 2em;
	font-family: 'Space Mono', monospace;
	color: LightGray;
	font-size: 2em;
	line-height: 0.7em;
}