body {
	margin-top: 2em;
	background-color: white;
}

h1   {
	font-family: 'Space Mono', monospace;
	font-size: 2em;
	line-height: 1em;
	color: black;
}


.bigParagraphContent{
	max-width: 500px;
	margin-top: 4em;
	font-family: 'Open Sans', sans-serif;
	color: grey;
	text-align: left;
	font-size: 1.7em;
}


.medParagraphContent{
	max-width: 500px;
	margin-top: 0em;
	font-family: 'Open Sans', sans-serif;
	color: grey;
	text-align: left;
	font-size: 1.2em;
}